# Virtual environment
venv_backend/pyvenv.cfg
requirements.txt
__pycache__/main.cpython-39.pyc
venv_backend/
.venv_backend/
venv_backend/*
./venv_backend/
.venv/
env/
venv/

# Python
_pycache_/
*.py[cod]
back_venv/
.venv_backend/
venv/
.venv/
*.swp
*.pyo
*.pyd

# Django
*.sqlite3
media/
staticfiles/


# alembic
alembic/__pycache__/
alembic/*.pyc

core/__pycache__/
notifications/__pycache__/
# Environment variables

# Logs
*.log
